<div class="u-padding--b-50">
  <div class="container-fluid">
    <div class="row u-padding--y-25">
      <%= render 'fenrir_view/accessibility/partials/pages' %>
      <%= render 'fenrir_view/accessibility/partials/components' %>
    </div>
  </div>
</div>
