html,
body {
  background-color: color('white', 115);
  overflow: initial;
}

.component-progress[value] {
  appearance: none;

  width: 100%;
  height: 2em;
}

.list--multicol {
  column-count: 2;
  column-gap: 2em;
}
