/*
** Used by styleguide pages
*/


@import 'fenrir/tools'; //Setup scss functions used by the system

@import 'fenrir_view/config'; // project settings and overrides

@import 'fenrir/awoken'; // Initialize the css framework

@import 'fenrir_view/prism';

@import 'fenrir_view/extras';

// Styleguide specific components
@import 'components/properties-list';

// System
@import 'elements';
@import 'components';
@import 'modules';

@import 'fenrir/utilities'; // Generate utility classes for use in html files


.reset-ul {
  list-style: none;
  padding: 0;
}

.sidebar-section__title {
  @include o-text--caption;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 5px;
  border-top: 1px solid color('silver');
  opacity: 1;
  color: color('coolgray');
}



/* HINT */
.mv-hint{
  margin: 40px 0;
  padding: 30px;
  font-size: 14px;
  border-top: 2px solid #FCCC37;
  color: #777;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.mv-hint h2{
  font-size: 19px;
  margin-bottom: 20px;
  color: #000;
}
.mv-hint h2 span{
  color: #FCCC37;
  margin-right: 5px;
  font-weight: bold;
}

.mv-hint ul{
  list-style-type: disc;
  margin-left: 15px;
}
.mv-hint ul li{
  margin-bottom: 10px;
  line-height: 1.5;
}

.mv-hint pre{
  background: #F5F5F5;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Courier New', 'Courier';
  font-weight: 600;
  color: #444;
}

.mv-hint strong{
  font-weight: bold;
}
