/*
*= require fenrir_view/prism
*/


@import 'fenrir/tools';  //At the very top, scss functions for fonts and colors

@import 'fenrir_view/config';   // Your project settings

@import 'fenrir/awoken'; // Initiate the framework test

// Mixins
@import 'mixins/typography';
@import 'mixins/svg';
@import 'mixins/wrappers';


// Objects
@import 'objects/box';
@import 'objects/buttons';
@import 'objects/icons';
@import 'components/typography';
@import 'objects/wrappers';


// System
@import 'elements';
@import 'components';
@import 'modules';

@import 'fenrir/utilities'; // Generate utility classes for use in html files


.reset-ul {
  list-style: none;
  padding: 0;
}




/* COMPONENT */
.mv-component{
  margin-bottom: 150px;
}

.mv-component__item{
}

.mv-component__meta{
  padding: 25px;
  margin-bottom: 20px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
}

.mv-component__meta p{
  color: #000;
}

.mv-component__description{
  padding: 25px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
  margin-top: 30px;
}

.mv-component__description h2{
  font-weight: bold;
  margin-bottom: 20px;
}

.mv-component__description__definition{
  margin-bottom: 20px;
}

.mv-component__description__definition code,
.mv-component__description__properties code {
  background: none !important;
  font-size: 14px;
}

.mv-component__description__properties{
  background: #fff !important;
  border: 1px solid #e4e4e4;
  max-height: 230px;
  overflow: auto;
  font-size: 13px;
  padding: 30px 20px;
}


/* HINT */
.mv-hint{
  margin: 40px 0;
  padding: 30px;
  font-size: 14px;
  border-top: 2px solid #FCCC37;
  color: #777;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.mv-hint h2{
  font-size: 19px;
  margin-bottom: 20px;
  color: #000;
}
.mv-hint h2 span{
  color: #FCCC37;
  margin-right: 5px;
  font-weight: bold;
}

.mv-hint ul{
  list-style-type: disc;
  margin-left: 15px;
}
.mv-hint ul li{
  margin-bottom: 10px;
  line-height: 1.5;
}

.mv-hint pre{
  background: #F5F5F5;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Courier New', 'Courier';
  font-weight: 600;
  color: #444;
}

.mv-hint strong{
  font-weight: bold;
}
