<header class="row u-padding-y-100 u-bg--primary">
  <div class="col-xs-12">
    <h1 class="c-text--headline"><%= @component.title %></h1>
  </div>
</header>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1 class="c-text--headline"><%= @component.title %></h1>
  </div>
  <div class="col-xs-12 col-md-4">
    <h1 class="c-text--headline"><%= @component.title %></h1>
  </div>
  <div class="col-xs-12 col-md-4">
    <h1 class="c-text--headline"><%= @component.title %></h1>
  </div>
</div>
