<div class="header">
  <h1><%= link_to @component.properties[:title], product_path(@component.properties[:id]) %></h1>
  <%- if @component.properties[:subtitle] %>
    <h3><%= @component.properties[:subtitle] %></h3>
  <% end %>
</div>
