<div class="c-collection">
  <h2><%= @_component.title %></h2>

  <div class="c-collection__item-wraper">
    <% if layout.present? && layout.items? %>
      <% layout.render_items.each do |item| %>
        <div class="c-collection__item">
          <%= item %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
