<div class="c-collection">
  <h2><%= @component.title %></h2>

  <div class="c-collection__item-wraper">
    <% if @component.layout.present? && @component.layout.items? %>
      <% @component.layout.render_items.each do |item| %>
        <div class="c-collection__item">
          <%= item %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
