<div class="u-bg--charcoal u-padding--y-100">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Examples of components together</h1>
      </div>
    </div>
  </div>
</div>

<div class="container u-padding--y-50">
  <div class="row">
    <% ['The cloud', 'The mountain', 'The river'].each do |item| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= ui_component('card', {
          title: 'a story',
          description: 'As an exmaple of a component with multiple properties etc',
          location: item,
        }) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12" id="guard_clause_content">
      <%= ui_component('card', false) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="yield_block">
      <%= ui_component('yielder') do %>
        Blocks of content yielded for days and days and days.
      <% end %>
    </div>    
  </div>
</div>
