<div class="u-bg--charcoal u-padding--y-100">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>This page should raise an error, as the card component is missing the required property 'title'</h1>
      </div>
    </div>
  </div>
</div>

<div class="container u-padding--y-50">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= ui_component('card', {
        description: 'As an exmaple of a component with multiple properties etc',
      }) %>
    </div>
  </div>
</div>
