<div class="<%%= @component.item_classes %>">
  <%%= @component.title %>

  <%%# if @component.tags? %>
    <%%# @component.design_system_tags.each do |tag_hash| %>
      <%%#= ui_component("tag", tag_hash) %>

      <% if @component.layout_item?(item_id: tag_hash.fetch(:id)) %>
        <%= @component.layout.render_item(item_id: tag_hash.fetch(:id)) %>
      <% end %>
    <%%# end %>
  <%%# end %>

  <%%#= @component.properties[:yield] %>

  <%%#= @component.layout.column_1 %>
  <%%#= @component.layout.column_2 %>
</div>
