<footer class="fenrir-view-accessibility-issue__details fenrir-view-accessibility-issue__details--missing">
  <p><span class="u-text--bold">No details partial for issue ID</span>:
    <span style="font-family:monospace"><%= @component.issue.id %></span>.</p>
</footer>
