.properties-list__item {
  display: flex;
  justify-content: space-between;
  padding: 4px;

  &:hover {
    cursor: pointer;
    background-color: color('silver');
  }
}

.properties-list__details {
  padding: 4px;
}
