<div class="u-bg--warning u-padding--y-100">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="o-text--headline u-text--bold">Missing Page</h1>
      </div>
    </div>
  </div>
</div>

<div class="container u-padding--y-100">
  <div class="row">
    <div class="col-xs-12">
      <p class="o-text--product">The page for <%= @doc %> has not been setup! Unfortunately we don't have any squads of highly trained monkey's to throw at the problem, so it might take a while.</p>
    </div>
  </div>
</div>
