<div class="u-bg--silver u-padding--y-200">
  <div class="container u-padding--b-200 u-padding--t-50">
    <div class="row">
      <div class="col-xs-12 u-text--center u-color--gray charlie-svg-illustration">
        <%= system_component('icon', {
          icon: 'lock',
          style: 'u-size--300'
        }) %>

        <h1 class="o-text--title u-text--bold">This page is restricted to Charlie employees</h1>
        <p class="o-text--product"></p>
      </div>
    </div>
  </div>
</div>
